/* 
* Main stylesheet for praycompline.org
* Author: Fr. Joel Turmo
* Date: 2024-09-01 
*/

html {
    overflow-y: scroll;
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    /* Adjust to 1.4 for readability */
    background-color: #deded7;
    /* Darker Cannoli Cream */
    min-height: 100vh;
}
p {
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.0rem;
    font-weight: 400;
}

nav {
    font-family: 'Cardo', 'Georgia', Times, serif;
    /* Default font for body */
    font-size: 1.0rem;
    font-weight: 400;
}

header {
    background-color: #0F4C81;
    /* Classic Blue */
    color: #F1F0E2;
    /* Cannoli Cream */
    text-align: center;
    padding: 0.5rem 0;
}

header h1:hover {
    color: #A5B8D0;
    /* Cashmere Blue */
}

header a:focus-visible {
    color: #A5B8D0;
    /* Cashmere Blue */
    text-decoration: underline;
}

main {
    padding: 10px 20px 30px 20px;
    max-width: 480px;
    /* Set the maximum width */
    margin: 0 auto;
    /* Center the content on the page */
    background-color: #F1F0E2;
    /* Cannoli Cream */
}

footer {
    background-color: #0F4C81;
    /* Classic Blue */
    color: #F1F0E2;
    /* Cannoli Cream */
    text-align: center;
    padding: 1.1rem 0;
    font-size: 1rem;
    font-family: 'Cardo', 'Georgia', Times, serif;
    font-weight: 400;
    line-height: 1.2rem;
}

h1,
h2 {
    font-family: 'Cardo', 'Georgia', Times, serif;
    /* Apply Cardo to headings */
}

h1 {
    color: white;
    font-size: 2rem;
    font-weight: 400;
}

h2 {
    font-size: 1.2rem;
    font-weight: 700;
}

.h1-link {
    all: inherit;
    color: inherit;
    text-decoration: none;
}

strong {
    font-size: 1.0rem;
    font-weight: 500;
}

em {
    font-size: 0.9rem;
    font-style: italic; 
}

.accessible {
    display: none;
}

.padded {
    padding: 1rem;
}

.padded-bottom {
    padding: 1rem 1rem 4rem 1rem;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center items horizontally */
    gap: 10px;
    /* Adds space between buttons */
    flex-wrap: wrap;
    /* Allows buttons to wrap on smaller screens */
    font-family: 'Cardo', 'Georgia', Times, serif;
}

.button {
    background-color: #0F4C81;
    /*ClassicBlue*/border: none;
    color: white;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    /*Center text vertically*/
    justify-content: center;
    /*Center text horizontally*/
    font-family: 'Cardo', 'Georgia', Times, serif;
    font-size: 1.0rem;
    cursor: pointer;
    border-radius: 12px;
    width: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, box-shadow 0.3s;
    /*Smooth transition*/flex: 1;
    /*Allow buttons to grow and shrink*/
    max-width: 200px;
    /*Prevents buttons from being too wide*/
    -webkit-transition: background-color 0.3s, box-shadow 0.3s;
    -moz-transition: background-color 0.3s, box-shadow 0.3s;
    -ms-transition: background-color 0.3s, box-shadow 0.3s;
    -o-transition: background-color 0.3s, box-shadow 0.3s;
    -webkit-transition: background-color 0.3s, box-shadow 0.3s;
}

.button:hover {
    color: #A5B8D0;
    /* Cashmere Blue */
}

.button:focus-visible {
    outline: 2px solid #000000;
    /* Black outline for better focus visibility */
    outline-offset: 2px;
}

@media (max-width: 600px) {
    .button-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .button {
        flex-direction: column;
        align-items: center;
        font-size: 1.0rem;
        padding: 1.0rem;
        gap: 10px;
    }
}

.allcap {
    text-transform: uppercase;
}

.center {
    text-align: center;
}

.nospace {
    margin: 0;
    padding: 0;
    line-height: 1rem;
}

input[type="checkbox"] {
    display: inline;
}

@media print {

    html,
    body {
        margin: 1in;
        background-color: transparent;
        /* Ensures a clean print background */
        color: black;
        font-size: 12pt;
        /* Ensures text color is appropriate for print */
    }

    header {
        background-color: transparent;
        /* Remove background for print */
        color: black;
        /* Ensure text color for print */
        font-size: 16pt;
    }

    footer {
        background-color: transparent;
        /* Remove background for print */
        color: black;
        /* Ensure text color for print */
        font-size: 10pt;
    }
}

/* Color scheme https://www.pantone.com/articles/color-of-the-year/color-of-the-year-2020 */